

/* ----------------------------------- BASIC SELECTORS ----*/



* {
	margin: 0;
	box-sizing: border-box;
}


h1 {
	font-family: 'Bungee', cursive;
	text-transform: uppercase;
}

h2, h3, p, form {
	font-family: 'Cabin', sans-serif;
}

hr {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(124, 101, 154, 0.5);
}

ul {
	list-style-type: none;
	padding-left: 0;
}



/* ---------------------------------- CLASS SELECTORS ----*/



.intro {
	width: 90%;
	margin: auto;
	text-align: center;
	margin-top: 40px;
	margin-bottom: 40px;
}

.main-head {
	background: #5C4A72;
	color: #fff;
	text-align: center;
	padding: 1px;
	text-shadow: 2px 2px 1px #333;
}

.form-container {
	width: 90%;
	margin: auto;
}
.main-footer {
	height: 100px;
	text-align: center;
}



/* ------------------------------------- FORM DESIGN ----*/



.first-fieldset input,
	textarea,
	select {
	width: 100%;
	background: #ebebeb;
	border: 1px solid #bbb;
	border-radius: 10px;
	margin-top: 10px;
	padding-left: 10px;
	padding-top: 2px;
}

fieldset {
	border: 0;
}

legend {
	font-size: 1.5em;
	margin-bottom: 20px;
}

input {
	height: 40px;
	margin-bottom: 10px;
}

label {
	display: inline-block;
	padding-top: 10px;
	color: #612378;
	vertical-align: middle;
	margin-bottom: 0;
}

select {
	height: 40px;
}

textarea {
	height: 100px;

}

.first-fieldset {
	padding-bottom: 40px;
}

input[placeholder="Required"]::placeholder {
  text-align: right;
  padding-right: 10px;
  font-style: italic;
  font-size: 0.8em;
}

.checkbox input,
.checkbox label {
  	display:  inline-block;
  	margin-bottom: 0;
}

.checkbox label {
	position: relative;
	left: 45px;
}

.radio input,
.radio label {
	display: block;
  	margin-bottom: -15px;
  	vertical-align: middle;
}

.radio label {
	position: relative;
	right: -62px;
	bottom: 25px;
}

.second-fieldset label {
	font-size: .8em;
	width: 50%;
	margin-left: -40px;
	margin-top: 3px;
	vertical-align: top;
}

.topics-label {
	position: relative;
	left: 40px;
}

.first-fieldset input:focus,
select:focus {
	outline: none;
	box-shadow: 0px 0px 20px #C5B3F9;
	transition: 500ms;
}

.second-fieldset textarea:focus {
	outline: none;
	box-shadow: 0px 0px 10px #C5B3F9;
	transition: 500ms;
}

.button {
	width: 100%;
	font-size: 1.5em;
	color: white;
	text-transform: uppercase;
	height: 65px;
	background: linear-gradient(#C5B3F9, #5C4A72);
	border-radius: 10px;
	cursor: pointer;
	text-shadow: 1px 1px 1px #333;
}

.button:hover {
	background: #C5B3F9;
}

.zip {
	margin-top: 9px;
}



/* ------------------------------------- MEDIA QUERIES ----*/



@media (min-width: 768px) {

	.form-container {
		width: 60%;
	}

	.first-fieldset li {
		display: flex;
	}

	.first-fieldset label {
    	flex-basis: 35%;
    	margin-top: 10px;
    }

    .first-fieldset label[for="zipcode"] {
    	flex-basis: 26%;
    }
	
	.first-fieldset input[id="zipcode"] {
		width: 35%;
		margin-right: auto;
	}

}













